.navbar-brand{
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: #000000;
}

#rouzajorPhoto{
  border-radius: 100px 50px 100px 200px; 
  width: 50%;
  display: block;
  margin: auto;
  padding-bottom: 20px;
}

.aboutBack{
  /*background-color: #F9AFBB;*/
  background-color: #000000;
}

.educationBack{
  background-color: #5a141a;
}

.titulosRed{
  font-family: 'Lobster', cursive;
  color: #5a141a;
  font-size:100px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.titulosBlack{
  font-family: 'Lobster', cursive;
  color: #000000;
  font-size:100px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.educationPhoto{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.textoNormalRed{
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  color: #5a141a;
}

.textoNormalBlack{
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  color: #000000;
}

.interestsPhoto{
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  color: #5a141a;
}

.interestsText{
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: #5a141a;
}

.skillsPhoto{
  width:  150px;
  height: 150px;
  display: block;
  margin: auto;
}

.checked{
  color: orange;
}

.skillsNumberBar {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.contenedorBar{
  width: 100%;
  background-color: #5a141a;
  border-style: solid;
  border-color: black;
}

.javaBar{
  width: 95%;
  background-color: #000000;
  color: #5a141a;
}

.pythonBar{
  width: 70%;
  background-color: #000000;
  color: #5a141a;
}

.webTechBar{
  width: 60%;
  background-color: #000000;
  color: #5a141a;
}

.sqlBar{
  width: 80%;
  background-color: #000000;
  color: #5a141a;
}

.galleryPhotos{
  height: 600px;
  width:  600px;
}